page-modalidade {
  ion-icon {
    font-size: 5em
  }
  ion-grid {
    margin-top: 5em
  }

  ion-content {
    background-image: url("/assets/img/fundologin.jpg");
    background-repeat: repeat-x;
    background-position: center;
  }
}
