page-produto {
  button{
    padding-top: 10px;
    padding-right: 40px;
  }
ion-label{
  padding-top: 14px;
}
.bt{
padding-left: 40px;
padding-right: 40px;
}
.ion-header-bar{
  background-color: teal;
}

}
